:root {
    --header-back-color: rgb(60, 60, 60);
    --header-font-family: 'Big Shoulders Display', Arial, serif;
    --border-radius: 5px;
    --body-back-color: rgb(235, 235, 235);
    --main-font-family: 'Anonymous Pro', Arial, serif;
}